ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
    justify-content: center;
}

#title{
    text-align: center;
}

button{
    padding: 10px;
}

#result{
    text-align: center;
}